
<div class='row'><div class='blue span12'></div>
</div>
<div class='row'>
  <div class='span2 yellow'></div>
  <div class='span10 green'></div>
</div>
<div class='row'>
  <div class='span2 orange'></div>
  <div class='span5 black'></div>
  <div class='span5 red'></div>
</div>
